name: Release
on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: |
          sudo apt update
          sudo apt install -y git
          echo "::set-env name=GIT_TAG::$(git describe --tags)"
        id: tag
      - name: Gradle Command
        uses: OrangeLabs-moe/gradle-actions@v5.0-openjdk-8
        with:
          args: release
