name: Release
on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Get last tag
        run: |
          echo "::set-env name=GIT_TAG::$GITHUB_REF"
        id: tag
      - name: Gradle Command
        uses: OrangeLabs-moe/gradle-actions@v5.0-openjdk-8
        with:
          args: release
