name: Snapshot
on:
  push:
    branches: master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Get last tag
        run: |
          sudo apt update
          sudo apt install -y git
          git fetch --depth=1 origin +refs/tags/*:refs/tags/*
          echo "::set-env name=GIT_TAG::$(git describe --tags origin/master)"
        id: tag
      - name: Gradle Command
        uses: OrangeLabs-moe/gradle-actions@v5.0-openjdk-8
        with:
          args: publish
